{% extends "base.html" %}
{% block content %}
<h1>{{post.title}}</h1>
<!--id_number is used in js for reseting the delete route-->
<h2>Post: <em id="id_number">{{post.id}}</em> <em>by </em>{{post.owner}}</h2>
<em>Added on: {{post.created_at}}</em><br />
<small>last edited: {{post.modified_at}}</small>
<br />
<p>{{post.contents}}</p>
<a href="/edit/{{post.id}}" class="button" >Edit</a>
<a href="/delete/{{post.id}}" class="button red" id="delete" onclick="promptUserForDeleteConfirmation()">Delete</a>
{% endblock %}