{% extends "base.html" %}
{% block content %}

<form action="/setup" method="post" class="db-form">
    <h1>Database Setup</h1>
    <input name="host" id="host" type="text" required placeholder="host:"/><br />
    <input name="dbname" id="dbname" type="text" required placeholder="dbname:"/><br />
    <input name="user" id="user" type="text" required placeholder="user:"/><br />
    <input name="passwor" id="password" type="password" required placeholder="password:"/><br />
    <input type="submit" value="Configure Database!" class="button green"/>
</form>

{% endblock %}