{% extends "base.html" %}
{% block content %}

<form action={{url_for('index.edit_post', post_id=post.id)}} method="post" class="edit-form">
    <h1>Edit post:{{post.id}}</h1>
    <div class="edit-title">
        <label for="title">Title: </label>
        <input name="title" id="title" type="text" value="{{post.title}}" />
    </div>
    <label for="contents">Contents:</label>
    <textarea cols="10" name="contents" id="contents">{{post.contents}}</textarea>
    <input type="submit" class="button green" value="Update" />
</form>

{% endblock %}