{% extends "base.html" %}
{% block content %}

<form action={{url_for('post_views.edit_post', post_id=post.blog_id)}} method="post" class="edit-form">
    <h1>Edit post:{{post.blog_id}}</h1>
    <div class="edit-title">
        <label for="title">Title: </label>
        <input name="title" id="title" type="text" value="{{post.title}}" />
    </div>
    <label for="contents">Contents:</label>
    <textarea rows="100" cols="100" name="contents" id="contents">{{post.contents}}</textarea>
    <input type="submit" class="button green" value="Update" id="input" />
</form>

{% endblock %}