{% extends "base.html"%}
{% block content %}
{% if 'username' in session %}
    <a href='/new' class="button">Add a new blog post</a>
{% endif %}
<hr />
<div id="posts_container">
    <div id="filter">
        <span>Filter by owner: </span>
        <select id="username" name="username">
            {% if filter %}
                <option value="{{filter}}">{{filter}}</option>
            {% else %}
                <option value="All">All</option>
            {% endif %}
            {% for user in users %}
            <option value={{user.name}} >{{user.name}}</option>
            {% endfor %}
        </select>
        <button class="button green" onclick="applyFilter()">Filter!</button>
        <a href="/" class="button">Reset filter</a>
    </div>
    <hr />
    {% for post in blogs %}
    <div>
        <h1>{{post.title}}</h1>
        <small>{{post.blog_id}}</small>
        <h2>By {{post.owner}}</h2>
        <small>Published: {{post.created_at}}</small><br>
        <a href='/view/{{post.blog_id}}' class="button">View</a>
        <hr />
    </div>    
    {% endfor %}
    {% if total > 1 %}
    <div>
        {% if page > 1 %}
        <button class="button" id="prev" onclick="goToPage('prev')">Prev</button>
        {% endif %}
        <span><span id="current">{{page}}</span>/<span id="total">{{total}}</span></span>
        {% if page < total %}
        <button class="button" id="next" onclick="goToPage('next')">Next</button>
        {% endif %}
    </div>
    {% else %}
    <div><span>1/1</span></div>
    {% endif %}
</div>    
{% endblock content %}