{% extends "base.html" %}
{% block content %}

<table class="list-post" style="padding:20px;">
    <tr>
        <th style="text-align:center;margin:auto;">
            {{user}}'s statistics:
        </th>
    </tr>
    <tr style="text-align:center;margin:auto;">
        <th style="text-align:center;margin:auto;">Active Month</th>
        <th style="text-align:center;margin:auto;">Number Of Posts</th>
    </tr>
    {% for k,v in statistics.items() %}
    {% if v != 0 %}
    <tr style="text-align: center;margin: auto;">
        <td style="text-align:center;margin:auto;">{{k}}</td>
        <td style="text-align:center;margin:auto;">{{v}}</td>
    </tr>
    {% endif %}

    {% endfor %}
</table>

{% endblock %}